body {
    width:100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* The grid: Four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  #id{
      margin-right:70%;
  }

  #name2{
      color: black;
      text-align:center;
  }
  #gallery{
      text-align:center;
      color: black !important;
      
  }

  #logo{
    width: 50%;
    height: 21px;
    font-family: 'Dosis';
    font-size: 180%;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    padding-right:2%;
    margin-left:2%;
    text-decoration-line: none;
    color:black;
  }
  
  #home {
    width: 30%;
    height: 11px;
    font-family: 'Dosis';
    font-size: 110%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    text-align: left;
    padding-right:2%;
    margin-left:5%;
    text-decoration-line: none;
    color: black;
  }
  #shop {
    width: 30%;
    height: 11px;
    font-family: 'Dosis';
    font-size: 110%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    text-align: left;
    padding-right:2%;
    margin-left:8%;
    text-decoration-line: none;
    color: black;
  }
  
  #lookbook{
    width: 30%;
    height: 11px;
    font-family: 'Dosis';
    font-size: 110%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    text-align: left;
    padding-right:2%;
    padding-left:2%;
    margin-left:5%;
    text-decoration-line: none;
    color: black;
  }
  .pre-header {
    width: 100%;
  height: 53px;
  background-color:white;

}
a{
    color: black;
}

#lang{
  width: 10%;
  height: 9px;
  font-family: 'SourceSansPro';
  font-size:70%;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  background-color: var(--brown-grey);
  color: black;
}
#lang2{
  width: 10%;
  height: 9px;
  font-family: 'SourceSansPro';
  font-size: 60%;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align:right;
  margin-left:70%;
  background-color: var(--brown-grey);
    color: black;

}

  * {
    box-sizing: border-box;
  }
  #fa{
    width: 40%;
    height: 15px;
    font-family: 'FontAwesome';
    font-size: 70%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align:left;
    display:flex;
    margin-left:8%;
    color:  black;
  }

  #gal {
    background-image: url("../images/gallery2.jpg");
    width: 100%;
    height: 200%;
  }

  #gallery{
    /* padding-top:15%; */
    text-align:center;
    font-size:650%;
    /* color:white; */
  
  }
  #navbar{
  position :fixed;
  color:black;
  background-color: white;
  width:100%;
  height:10%;
  margin-top:0%;
  }
