body {
    width:100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* The grid: Four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  #id{
      margin-right:70%;
  }

  #name2{
      color: #999999;
      text-align:center;
  }
  #gallery{
      text-align:center;
  }

  .logo{
    width: 50%;
    height: 21px;
    font-family: 'Dosis';
    font-size: 180%;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    padding-right:2%;
    margin-left:2%;
    text-decoration-line: none;
    color:var(--brown-grey);
  }
  
  .home {
    width: 30%;
    height: 11px;
    font-family: 'Dosis';
    font-size: 110%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    text-align: left;
    padding-right:2%;
    margin-left:5%;
    text-decoration-line: none;
    color: black;
  }
  .shop {
    width: 30%;
    height: 11px;
    font-family: 'Dosis';
    font-size: 110%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    text-align: left;
    padding-right:2%;
    margin-left:8%;
    text-decoration-line: none;
    color: black;
  }
  
  .lookbook{
    width: 30%;
    height: 11px;
    font-family: 'Dosis';
    font-size: 110%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    text-align: left;
    padding-right:2%;
    padding-left:2%;
    margin-left:5%;
    text-decoration-line: none;
    color: black;
  }
  